/* Enter your custom styles here */
.finished-task{
    background-color: green;
}

.warning-task{
    background-color: yellow;
}

.important-task{
    background-color: orange;
}

.critical-task{
    background-color: orangered;
}

[data-iconColor='Concluído'] .sapUiIcon {
    color: green !important; 
}
[data-iconColor='Em Andamento'] .sapUiIcon{
    color: orange !important;
}
[data-iconColor='Atrasado'] .sapUiIcon{
    color: orange !important;
}